*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
.idea/
.gradle/
build/
/gradle/gradle/wrapper/gradle-wrapper.jar
/gradle/gradle/wrapper/gradle-wrapper.properties
/gradle/gradlew
/gradle/gradlew.bat
/.DS_Store
app/src/main/res/values/com_crashlytics_export_strings.xml
app/src/main/assets/crashlytics-build.properties
/.hprof
.hprof

*.hprof
/*.hprof